.footer {
  background-color: #1D2026;
  color: #ccc;
  &__copyright {
    text-align: center;
    font-size: 10px;
    padding: 10px 0 0;
  }
  &__social {
    text-align: right;
    &__icon {
      padding: 10px 5px;
    }
  }
}
